lxml
beautifulsoup4
#git+https://github.com/trivio/codd.git#egg=codd
codd >= 0.1.4
urlnorm
nose

boto

# these should be installed when you install the trivio client
requests
git+https://github.com/trivio/trivio.datasources.git#egg=triv.io.datasources
git+https://github.com/trivio/Hadoop.git#egg=Hadoop
git+https://github.com/trivio/discodb.git
