<div class="sign-in">
<h1>Caravela</h1>

<h2>Explore how the web is made with us.</h2>

<p>
  We need your early feedback before we scale!
</p>
<p>
Join our waiting list and we'll grant you access in the next few days
</p>

<p>
<a href="#"  class="persona-button dark pull-right" {{action  login}}>         
  <span>Sign in with your Email</span>
</a>
</p>

</div>