<h1>
  {{name}} 
    {{
    info-hotspot
    title="Insights"
    body="
    <p>
      After <a href='#/query'>creating a query</a> use this
      page to visualize it and share it with other members
      of the site.
    </p>
    <p>
      For the visulization grammar, read up on using  <a target='_blank' href='https://github.com/trifacta/vega/wiki'>Trifacta's Vega</a>
    </p>
    "
  }}

</h1>


<ul class="tabs">
  {{#linkTo "insight.chart" tagName="li" }}Design{{/linkTo}}
  {{#linkTo "insight.describe" tagName="li" }}Describe{{/linkTo}} 
</ul>

<div class="insight">
{{outlet}}
</div>