{% extends "layouts/default.html" %}

{% block head %}
{{ super() }}
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  {% assets "common.css" %}
    <link media="screen" rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}    

  {% assets "sass.css" %}
    <link media="screen" rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}


  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<a href="//www.mozilla.org/" id="tabzilla">mozilla</a>
{% endblock %}



{% block script %}
  <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
  <script type='text/javascript' src='https://login.persona.org/include.js'></script>
  <script src="https://towtruck.mozillalabs.com/towtruck.js"></script>

  {% assets "common.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets "app.handlebars" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}