Flask
Flask-Assets
Flask-Script

boto
celery
gunicorn

git+https://github.com/trivio/discodb.git
git+https://github.com/trivio/codd.git

git+https://github.com/trivio/splicer.git
git+https://github.com/trivio/splicer_console.git
git+https://github.com/trivio/splicer_discodb.git
